{% extends "base_generic.html" %}
{% block title %}
	<title>Local Library - Author List</title>
{% endblock %}

{% block content %}
	
	<h1>Author List</h1>
	
	{% if author_list %}
		
		<ul>
			
			{% for author in author_list %}
			
				<li>
					
					<a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a><span> - <a class="text-success" href="{% url 'author_update' author.pk %}">Update</a> <a class="text-danger" href="{% url 'author_delete' author.pk %}">Delete</a></span>
				
				</li>
			
			{% endfor %}

		</ul>
	
	{% else %}
		
		<p>There are no books in the library.</p>

	{% endif %}

{% endblock %}