{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li>
        <p>{{bookinst.book.title}} <span class="{% if bookinst.is_overdue %}text-danger{% endif %}">({{ bookinst.due_back }})</span>{% if perms.catalog.can_mark_returned %} <button><a style="text-decoration-line: none;" href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a></button>  {% endif %}</p>
        <p>{{ bookinst.borrower }} </p>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}